
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins;
}

.quote_card{
    background: #112B3C;
    min-height: 300px;
    max-height: 450px;
    min-width: 600px;
    max-width: 700px;
    border-radius: 2px;
    margin: auto;
    margin-top: 200px;
    overflow: hidden;
    border-bottom: 2px solid #22577E;
    padding-bottom: 10px;
    /*border-right: 4px solid #22577E;*/

}


p{
    color: #79DAE8;
    padding: 20px 100px;
    margin-top: 50px;
    word-wrap: break-word;
    transition: 1s all ease;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p:hover{

    transform: translateY(10px);
    transition: 1s all ease;

}

h4{
    padding: 10px 100px;
    text-align: center;
    color: #E2D784;
    margin-top: 10px;
    display: none;
    transition: all 1s ease;
    animation: delay;
    animation-delay: 2s;
    animation-timing-function: ease;
}

@keyframes delay {
    0%{
        transition: all 0.2s ease;
        opacity: 0.4;
    }
    50%{
        transition: all 0.2s ease;
        opacity: 0.8;
    }
    100%{
        transition: all 0.2s ease;
        opacity: 1;
    }
}



h1{

    padding: 20px 100px;
    color: #EFEFEF;
    transition: 1s all ease;
    text-align: center;
}

h1:hover{
    transition: 1s all ease;
    transform:translateX(10px);


}

h2 {
    width: 100%;
    background: #112B3C;
    text-align: center;
    height: 100px;
    padding: 10px;
    font-size: 60px;
    color: #FFFBE7;


}

.button_space{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 10px;
}

.button_design{
    display: flex;
    margin-left: 10px;
    background: #68A7AD;
    height: 45px;
    align-items: center;
    font-family: Poppins;
    width: 120px;
    justify-content: center;
    border: 2px solid #68A7AD;
    border-radius: 5px;
    color: #1A132F;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s all ease;
}

.button_design:hover{
    box-shadow: 0px 0px 8px  #68A7AD;
    transition: 0.3s all ease;
    font-weight: 700;
    /*transform: translateY(-2px);*/
    color: #EFEFEF;


}

.icon-heart{
    font-size: 25px;
    color: #68A7AD;
    transform:translateX(195px);
    cursor: pointer;
    transition: all 0.8s ease;

}

.heart-container{
    transform: translateX(110px);
    position: fixed;
}

